# @package _global_
defaults:
 - /tokenizer: /soar

dual_stream: false
# tokenizer_ckpt: checkpoints/tokenizer_ckpts/soar.pt
dynamics_ckpt: checkpoints/dynamics_ckpts/dynamics-soar-110M.pt
reload_checkpoint: null
output_dir: checkpoints/dynamics_ckpts/soar-small/${now:%Y-%m-%d_%H-%M-%S}
plot_every: 1000
print_every: 100
log_every: 25
save_every: 10000
seed: 42

denoiser:
  dual_stream: false
  num_action_tokens: 1    # Number of tokens for the image or other modalities
  num_latent_tokens: 256      # The number of latent tokens per frame
  num_register_tokens: 4
  context_length: 32      # The context length for the dynamics model
  max_sequence_length: 128      # The maximum temporal horizon of the tokenizer during training
  model_dim: 768              # The dimension of the transformer latents
  latent_dim: 32              # The dimention of the encoder output latents (z)
  n_layers: 4           # Causal tokenizer encoder depth
  n_heads: 12
  n_kv_heads: 12
  dropout_prob: 0.0
  qk_norm: false
  num_noise_levels: 128
  n_actions: 7

train:
  device: 'cuda:0'
  use_compile: true
  num_epochs: 100
  batch_per_gpu: 2
  long_seq_batch_per_gpu: 4
  long_seq_prob: 0.1
  accum_grad_steps: 1
  weight_decay: 0.1
  lr: 1e-4
  num_workers: 12
  lpips_weight: 0.2
  num_training_steps: 1e7
  enable_fast_matmul: true
  clip_grad_norm: 1.0
  video_pretraining: false # Set the action to zero in doing video pretraining

wandb:
  enable: true
  project: "dreamer-v4-dynamics"
  run_name: null
