# @package _global_

dual_stream: false
tokenizer_ckpt: /home/mim-server/projects/joseph/dreamer-v4/tokenizer.pt #/home/mim-server/projects/rooholla/dreamer-v4/checkpoints/tokenizer_ckpts/large/cfg2/19.pt
dynamics_ckpt: /home/mim-server/projects/joseph/dreamer-v4/dreamerv4_big_dynamics_270k.pt #/home/mim-server/projects/rooholla/dreamer-v4/checkpoints/dynamics_ckpts/single-stream-dynamics-soar.pt
use_vr: false
dynamics_model_ckpt_name: 'dyn'
SEQ_COR_TAU_IDX: 12

initial_context_len: 10
max_interactive_seq_length: 5000
dynamics_encoder_seq_length: 32

dataset:
  dataset_path: null 
  traj_path: /home/mim-server/projects/joseph/dreamer-v4/trajs_32.pt 
  resolution: [128, 128]

denoiser:
  dual_stream: false
  num_action_tokens: 1    # Number of tokens for the image or other modalities
  num_latent_tokens: 256      # The number of latent tokens per frame
  num_register_tokens: 4
  max_context_length: 32      # The maximum temporal horizon of the tokenizer
  model_dim: 2048              # The dimension of the transformer latents
  latent_dim: 16              # The dimention of the encoder output latents (z)
  n_layers: 8           # Causal tokenizer encoder depth
  n_heads: 32
  n_kv_heads: 32
  dropout_prob: 0.0
  qk_norm: false
  num_noise_levels: 128
  n_actions: 7


tokenizer:
  dual_stream: false
  num_modality_tokens: 64    # Number of tokens for the image or other modalities
  num_latent_tokens: 256      # The number of latent tokens per frame
  max_context_length: 32      # The maximum temporal horizon of the tokenizer
  model_dim: 768              # The dimension of the transformer latents
  latent_dim: 16              # The dimention of the encoder output latents (z)
  enc_num_layers: 3           # Causal tokenizer encoder depth
  dec_num_layers: 3           # Causal tokenizer decoder depth
  n_heads: 12
  n_kv_heads: 12
  dropout_prob: 0.0
  qk_norm: false
  patch_size: 16 # Note: image_size//patch_size should be equal to num_modality_tokens
