defaults:
 - dataset: tmp

reload_checkpoint: null
output_dir: /scratch/rk4342/dreamer-v4/tokenizer_ckpts/${now:%Y-%m-%d_%H-%M-%S}
plot_every: 1000
print_every: 100
log_every: 25

denoiser:
  num_action_tokens: 6    # Number of tokens for the image or other modalities
  num_latent_tokens: 512      # The number of latent tokens per frame
  num_register_tokens: 16
  max_context_length: 96      # The maximum temporal horizon of the tokenizer
  model_dim: 768              # The dimension of the transformer latents
  latent_dim: 16              # The dimention of the encoder output latents (z)
  n_layers: 3           # Causal tokenizer encoder depth
  n_heads: 8
  n_kv_heads: 8
  dropout_prob: 0.1
  qk_norm: true
  K_max: 128

train:
  device: 'cuda:0'
  num_epochs: 100
  batch_size: 4
  short_context: 32
  long_context: 96
  accum_grad_steps: 1
  lr: 1e-4
  num_workers: 12
  lpips_weight: 0.2
  num_training_steps: 1e7
  mixed_precision: false
  torch_compile_mode: "default"
  enable_flash_attention: false
  enable_fast_matmul: true
  clip_grad_norm: 1.0


wandb:
  enable: false 
  api_key: null
  project: "dreamerv4-tokenizer" # Replace with your wandb project name